<!-- <p>import-good works!</p> -->
<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
          <button pButton pRipple label="Thêm đơn mua hàng" icon="pi pi-plus" class="border-round p-button-success mr-2" style="border-radius: 8px;" (click)="openNew()"></button>
      </ng-template>
  </p-toolbar>
  <p-table #dt [value]="listImports"
      [rows]="5" [paginator]="true"
      [tableStyle]="{'min-width': '50rem'}"
      [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Manage Imports</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search" />`
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>Shipper name</th>
              <th>Shipper phone</th>
              <th pSortableColumn="price">Total <p-sortIcon field="price"></p-sortIcon></th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-import>
          <tr>
              <td>{{import.nameShipper}}</td>
              <td>{{import.phoneShipper}}</td>
              <td>{{import.totalPrice}}</td>
              <td>
                  <a class="nav-link collapsed" routerLink="/admin/import/importDetail/{{import.id}}" data-toggle="collapse" data-target="#collapseUtilities"
                      aria-expanded="true" aria-controls="collapseUtilities" pButton pRipple
                      icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2">
                  </a>
                  <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openUpdate(import)"></button> -->
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onDelete(import.id)"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="showForm" [style]="{width: '50vw'}" header="Import Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content" p-scroller>
      <div class="formgrid grid">
          <div class="field col">
            <label for="name" class="col-12 mb-2 md:col-2 md:mb-0">Shipper name</label>
            <div class="col-12 md:col-10 mb-2">
                <input id="name" type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  pInputText [(ngModel)]="importForm.nameShipper" required autofocus
                >
            </div>
          </div>
          <div class="field col">
            <label for="description" class="col-12 mb-2 md:col-2 md:mb-0">Shipper phone</label>
            <div class="col-12 md:col-10 mb-2">
                <input id="phone" type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  pInputText [(ngModel)]="importForm.phoneShipper" required autofocus
                >
            </div>
          </div>
      </div>

      <div class="formgrid grid">
          <div class="field col">
              <label for="note">Note</label>
              <input id="note" type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  pInputText [(ngModel)]="importForm.note" required autofocus
                >
          </div>
          <!-- <div class="field col">
              <label for="totalPrice">totalPrice</label>
              <p-inputNumber id="totalPrice" [(ngModel)]="importForm.totalPrice"></p-inputNumber>
          </div> -->
      </div>
      <!-- <app-import-detail app-import-detail [importGood]="importForm" [id]="importForm.id" [subTotal]="importForm.totalPrice" ></app-import-detail> -->

  </ng-template>
  <ng-template pTemplate="footer">
      <button type="submit" pButton class="border-round" *ngIf="!onUpdate" (click)="createImport()">Tạo mới</button>
      <button type="submit" pButton class="border-round" *ngIf="onUpdate" (click)="updateImport()" >Cập nhật</button>
      <button pButton type="button" class="border-round p-button-danger ml-3" (click)="showForm=false">Hủy</button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
