<!-- <p>shop works!</p> -->
<p-toast></p-toast>

<div class="form__template">
  <div class="form__template-box">
    <div class="form__info">
      <div class="sidebar">
        <div class="form__info-detail">
          <h6>Danh mục</h6>
          <ul>
            <li><a class="form__info-a" href="javascript:void(0)" (click)="getListProductByCategoryId(0)">Tất cả</a>
            </li>
            <li *ngFor="let category of listCategory">
              <a class="form__info-a" href="javascript:void(0)"
                (click)="getListProductByCategoryId(category.id)">{{category.name}}</a>
            </li>
          </ul>
        </div>
        <div class="form__info-detail">
          <h6>Giá</h6>
          <div class="price-input mt-1">
            <input pInputText class="input__range" pKeyFilter="money" placeholder="đ" [(ngModel)]="rangeValues[0]"> đ
            <span style="margin-right: 8px;">-</span>
            <input pInputText class="input__range" pKeyFilter="money" placeholder="đ" [(ngModel)]="rangeValues[1]"> đ
            <p-button [style]="{'margin-top': '8px', 'width': '100%'}" (click)="getListProductByPriceRange()">Áp
              dụng</p-button>
          </div>
        </div>
        <div class="form__info-detail">
          <div class="latest-product__text">
            <h6>Sản phẩm mới</h6>
            <div class="latest-product__slider">
              <div class="latest-prdouct__slider__item">
                <a href="javascript:void(0)" routerLink="/productDetail/{{product.id}}" class="latest-product__item"
                  *ngFor="let product of listProductNewest">
                  <div class="latest-product__item__pic">
                    <img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>{{product.productname}}</h6>
                    <h6>{{product.price | currency:'VND'}}</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form__detail">
      <div class="container">
        <div class="row">
          <!-- <div> -->
            <div class="Sorter">
              <!-- <div class="Sorter"> -->
                <div class="sort-list">
                  <button class="sort-item active" (click)="addActive(0)">
                    Đề xuất
                  </button>
                  <button class="sort-item" *ngFor="let sort of listSort" (click)="addActive(sort.id)">
                    {{sort.name}}
                  </button>
                  <button class="sort-item active" *ngIf="showSearch">
                    Kết quả
                  </button>
                  <!-- <li id="sort" class="sort-item" (click)="addActive(1)">Giá thấp đến cao</li>
                  <li id="sort" class="sort-item" (click)="addActive(2)">Giá cao đến thấp</li> -->
                </div>
              <!-- </div> -->
            </div>
          <!-- </div> -->
          <section id="product1">
            <p-dataView #dv [value]="listProduct" [rows]="12" [paginator]="true" [layout]="layout" *ngIf="!showSearch">
              <ng-template let-product pTemplate="gridItem">
                <div class="col-12 sm:col-6 lg:col-12 xl:col-3 p-3">
                  <div class="p-3 border-1 surface-border surface-card border-round">
                    <a href="javascript:void(0)" routerLink="/productDetail/{{product.id}}">
                      <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                        <span class="flex align-items-center gap-2">
                          <i class="pi pi-tag"></i>
                          <span class="font-semibold">{{ product.category.name }}</span>
                        </span>
                        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                      </div>
                      <div class="flex flex-column align-items-center gap-3 py-3">
                        <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                          src="{{'data:image/jpg;base64,' + product.images[0].data}}" style="height: 160px;"
                          [alt]="product.productname" />
                        <div class="text-base font-bold">{{ product.productname }}</div>
                      </div>
                    </a>
                    <div class="flex align-items-center justify-content-between">
                      <span class="text-base font-semibold text-red-500">{{ product.price | currency:'VND'}}</span>
                      <button pButton icon="pi pi-shopping-cart" class="p-button-rounded" (click)="addToCart(product)"
                        [disabled]="product.inventoryStatus === 'Hết hàng'"></button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
            <app-search *ngIf="showSearch" [keywords]="keywords"></app-search>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>