<!-- <p>shop works!</p> -->
<p-toast></p-toast>

<div class="form__template">
  <div class="form__template-box">
    <div class="form__info">
      <div class="sidebar">
        <div class="form__info-detail">
          <h6>Danh mục</h6>
          <ul>
            <li><a class="form__info-a" href="javascript:void(0)" (click)="getListProductByCategoryId(0)">All</a></li>
            <li *ngFor="let category of listCategory">
              <a class="form__info-a" href="javascript:void(0)"
                (click)="getListProductByCategoryId(category.id)">{{category.name}}</a>
            </li>
          </ul>
        </div>
        <div class="form__info-detail">
          <h6>Price</h6>
          <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="0" [max]="500" [style]="{'background': 'var(--bs-gray-200)', 'margin-left': '16px'}"
            (onChange)="getListProductByPriceRange()"></p-slider>
          <div class="price-input mt-3">
            {{rangeValues[0] + " đ"}} - {{rangeValues[1] + "000 đ"}}
          </div>
        </div>
        <div class="form__info-detail">
          <div class="latest-product__text">
            <h6>Latest Products</h6>
            <div class="latest-product__slider">
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item" *ngFor="let product of listProductNewest">
                  <div class="latest-product__item__pic">
                    <img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>{{product.name}}</h6>
                    <span>{{product.price + " đ"}}</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form__detail">
      <div class="container">
        <div class="row">
          <section id="product1">
            <p-dataView #dv [value]="listProduct" [layout]="layout" *ngIf="!showSearch">
              <ng-template let-product pTemplate="gridItem">
                <div class="col-12 sm:col-6 lg:col-12 xl:col-3 p-3">
                  <div class="p-3 border-1 surface-border surface-card border-round">
                    <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                      <span class="flex align-items-center gap-2">
                        <i class="pi pi-tag"></i>
                        <span class="font-semibold">{{ product.category.name }}</span>
                      </span>
                      <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"></p-tag>
                    </div>
                    <div class="flex flex-column align-items-center gap-3 py-3">
                      <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                      src="{{'data:image/jpg;base64,' + product.images[0].data}}"
                      style="height: 160px;"
                      [alt]="product.productname" />
                      <div class="text-base font-bold">{{ product.productname }}</div>
                      <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="flex align-items-center justify-content-between">
                      <span class="text-base font-semibold text-red-500">{{ product.price + " đ" }}</span>
                      <button pButton icon="pi pi-shopping-cart" class="p-button-rounded"
                        (click)="addToCart(product)"
                        [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
            <app-search *ngIf="showSearch" [keywords]="keywords"></app-search>
            <!-- <div class="pro-container">
              <div class="pro" *ngFor="let product of listProductNewest">
                <img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="">
                <div class="des">
                  <span>{{product.category.name}}</span>
                  <h5>{{product.productname}}</h5>
                  <div class="star">
                    <p-rating [ngModel]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
                  </div>
                  <h4>{{product.price | currency:'VND'}}</h4>
                </div>
                <a href="javascript:void(0)" (click)="addToWishList(product)"><fa-icon class="heart" [icon]="heart"></fa-icon></a>
                <a href="javascript:void(0)" routerLink="/productDetail/{{product.id}}"><fa-icon class="retweet" [icon]="retweet"></fa-icon></a>
                <a href="javascript:void(0)" (click)="addToCart(product)"><fa-icon class="cart" [icon]="bag"></fa-icon></a>
              </div>
            </div> -->
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
