<p-toast></p-toast>
<div class="form__template">
  <div class="form__template-box">
    <div class="form__info">
      <div class="form__info-detail">
        <h6>Danh mục</h6>
        <ul>
          <li><a class="form__info-a" href="javascript:void(0)" routerLink="/category/0">Tất cả</a></li>
          <li *ngFor="let category of listCategory">
            <a class="form__info-a" href="javascript:void(0)"
              routerLink="/category/{{category.id}}">{{category.name}}</a>
          </li>
        </ul>
      </div>
      <div class="form__info-detail">
        <h6>Tính năng</h6>
        <div id="feature">
          <p-galleria [value]="feature" [numVisible]="1" [autoPlay]="true" [circular]="true" [showThumbnails]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-feature pTemplate="item">
              <div class="product-item">
                <div class="product-item-content">
                  <div class="fe-box">
                    <img src="{{feature.image}}" alt="">
                    <h6>{{feature.name}}</h6>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>
    <div class="form__detail">
      <div class="galleria__form">
        <p-galleria [value]="images" [autoPlay]="true" [circular]="true" [showItemNavigators]="true"
          [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true"
          [responsiveOptions]="responsiveOptions" class="galleria">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" class="galleria__img" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.thumbnailImageSrc" style="display: block;" />
            </div>
          </ng-template>
        </p-galleria>
        <div class="form__detail-product">
          <section id="product1">
            <h2>Sản phẩm nổi bật</h2>
            <p-carousel [value]="listProduct" [numVisible]="4" [numScroll]="4" [responsiveOptions]="responsiveOptions"
              autoPlayInterval="3000">
              <ng-template let-product pTemplate="item">
                <a href="javascript:void(0)" class="product-item">
                  <div class="product-item-content">
                    <div class="pro-container">
                      <div class="pro">
                        <a href="javascript:void(0)" routerLink="/productDetail/{{product.id}}">
                          <img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="">
                          <div class="des">
                            <span>{{product.category.name}}</span>
                            <h5>{{product.productname}}</h5>
                          </div>
                        </a>
                        <div class="flex align-items-center justify-content-between">
                          <span class="text-base font-semibold text-red-500">{{ product.price | currency:'VND'}}</span>
                          <button pButton icon="pi pi-shopping-cart" class="p-button-rounded"
                            (click)="addToCart(product)" [disabled]="product.inventoryStatus === 'Hết hàng'"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </ng-template>
            </p-carousel>
          </section>
        </div>

        <div class="form__detail-product">
          <section id="product1">
            <h2>Sản phẩm mới</h2>
            <p-carousel [value]="listProductNewest" [numVisible]="4" [numScroll]="4"
              [responsiveOptions]="responsiveOptions" autoPlayInterval="3000">
              <ng-template let-product pTemplate="item">
                <div class="product-item">
                  <div class="product-item-content">
                    <div class="pro-container">
                      <div class="pro">
                        <a href="javascript:void(0)" routerLink="/productDetail/{{product.id}}">
                          <img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="">
                          <div class="des">
                            <span>{{product.category.name}}</span>
                            <h5>{{product.productname}}</h5>
                          </div>
                        </a>
                        <div class="flex align-items-center justify-content-between">
                          <span class="text-base font-semibold text-red-500">{{ product.price | currency:'VND'}}</span>
                          <button pButton icon="pi pi-shopping-cart" class="p-button-rounded"
                            (click)="addToCart(product)" [disabled]="product.inventoryStatus === 'Hết hàng'"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>