<!-- <p>order-detail works!</p> -->
<div class="card flex">

    <p-table #dt [value]="listProductOrder" [rows]="5" [paginator]="true" [tableStyle]="{'min-width': '50rem'}"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:4rem">Tên sản phẩm <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="price">Giá<p-sortIcon field="price"></p-sortIcon></th>
                <th>Số lượng</th>
                <th style="min-width:4rem">Hạn sử dụng</th>
                <th style="min-width:4rem">Tổng tiền</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price | currency:'VND'}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.expiry}}</td>
                <td>{{product.subTotal | currency:'VND'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
            </div>
        </ng-template>
    </p-table>
</div>