<!-- <p>comment works!</p> -->
<p-toast></p-toast>
<p-card>
    <!-- <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Add comment" icon="pi pi-plus" class="p-button-success mr-2" style="border-radius: 8px;" (click)="showForm()"></button>
        </ng-template>
    </p-toolbar> -->

    <p-table
      [value]="listComment"
      [rows]="5"
      [paginator]="true"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Id sản phẩm</th>
                <th>Id người dùng</th>
                <th>Số sao</th>
                <th>Đánh giá</th>
                <th>Xác nhận</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comment>
            <tr>
                <td>{{comment.product.id}}</td>
                <td>{{comment.user.id}}</td>
                <td>{{comment.rate}}</td>
                <td>{{comment.comment}}</td>
                <td>
                    <button pButton type="button" class="border-round p-button-info" (click)="enableComment(comment.id)" *ngIf="comment.enabled">Đã xác nhận</button>
                    <button pButton type="button" class="border-round p-button-warning" (click)="enableComment(comment.id)" *ngIf="!comment.enabled">Chưa xác nhận</button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</p-card>
