* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-p1 {
  padding: 20px 80px;
}

.section-m1 {
  margin: 20px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

.form__template{
  width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}


.form__template{
  width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}

.form__template-box{
  display: flex;
  padding-top: 16px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.form__info{
  width: 230px;
  /* max-height: 100vh; */
  position: sticky;
  /* overflow-y: scroll; */
  top: 16px;
  background-color: transparent;
  display: flex;
  padding-bottom: 117px;
  flex-direction: column;
  color: rgb(56, 56, 61);
  font-size: 14px;
  line-height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form__info-detail{
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 16px;
  padding: 12px 8px;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.form__info-detail a{
  display: flex;
  text-decoration: none;
  padding: 7px 16px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.form__info-detail a:hover{
  background: rgba(39, 39, 42, 0.12);
  color: rgb(39, 39, 42);
}

.form__info-detail ul li{
  list-style: none;
}

.form__info-detail h6 {
  margin-bottom: 8px;
  /* padding-left: 16px; */
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: rgb(39, 39, 42);
  padding: 0 16px;
}

.form__info-a{
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgb(39, 39, 42);
}

.form__detail{
  width: calc(100% - 254px);
  display: flex;
  align-items: center;
  justify-content: center;
}


