<!-- <p>index works!</p> -->
<p-toast></p-toast>

<section id="header">
  <div class="header__tool">
    <a href="#"><img src="../../../assets/img/logo.png" alt="" class="logo"></a>
    <ul id="navbar">
      <li><a href="#" >Shop</a></li>
      <li><a href="#" >Blog</a></li>
      <li><a href="#" >Contact</a></li>
    </ul>
  </div>
  <div class="header__tool">
    <div class="header__search">
        <div class="header__search__form">
            <form action="#">
                <input pInputText type="text" placeholder="What do yo u need?" [(ngModel)]="keyword" name="keyword">
                <button p-button class="normal btn_sm" routerLink="/search/{{keyword}}">
                  <fa-icon [icon]="search"></fa-icon>
                </button>
            </form>
        </div>
    </div>
    <ul id="navbar">
      <li><a href="javascript:void(0)" routerLink="/cart"><fa-icon [icon]="bag"></fa-icon></a></li>
      <li><a href="javascript:void(0)" routerLink="/userDetail"><fa-icon [icon]="userIcon"></fa-icon></a></li>
    </ul>
  </div>
</section>

<!-- <section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all" (click)="showDepartmentClick()" >
                        <fa-icon [icon]="bars"></fa-icon>
                        <span>All departments</span>
                    </div>
                    <ul *ngIf="showDepartment">
                        <li><a href="javascript:void(0)" *ngFor="let category of listCategoryEnabled" routerLink="category/{{category.id}}">{{category.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?" [(ngModel)]="keyword" name="keyword">
                            <button class="site-btn" routerLink="/search/{{keyword}}">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<router-outlet></router-outlet>

<footer class="section-p1">
  <div class="col">
    <img class="logo" src="../../../assets/img/logo.png" alt="">
    <h4>Contact</h4>
    <p><strong>Address: </strong> 35 Dong Tri 6 Lien Chieu Da Nang</p>
    <p><strong>Phone: </strong> +01 2222 365</p>
    <p><strong>Hours: </strong> 8:00 - 21:00, Mon - Sat</p>
    <div class="follow">
      <h4>Follow us</h4>
      <div class="icon">
        <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
        <i class="pi pi-twitter" style="font-size: 1.5rem"></i>
        <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
        <i class="pi pi-youtube" style="font-size: 1.5rem"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <a href="#">About us</a>
    <a href="#">Delivery</a>
    <a href="#">Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact Us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>

  <div class="col install">
    <h4>Install App</h4>
    <p>Form App Store or Google Play</p>
    <div class="row">
      <img src="../../../assets/img/pay/app.jpg" alt="">
      <img src="../../../assets/img/pay/play.jpg" alt="">
    </div>
    <p>Secured Payment Gateways</p>
    <img src="../../../assets/img/pay/pay.png" alt="">
  </div>

  <div class="copyright">
    <p>Thank you so much</p>
  </div>
</footer>





<!-- <header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="javascript:void(0)" routerLink="/" ><img src="assets/image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="javascript:void(0)">Home</a></li>
                        <li><a href="javascript:void(0)" routerLink="/">Shop</a></li>
                        <li><a href="javascript:void(0)">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="javascript:void(0)">Shop Details</a></li>
                                <li><a href="javascript:void(0)">Shoping Cart</a></li>
                                <li><a href="javascript:void(0)">Check Out</a></li>
                                <li><a href="javascript:void(0)">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/blog">Blog</a></li>
                        <li><a href="javascript:void(0)" routerLink="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="javascript:void(0)" (click)="wishlist.toggle($event)"><fa-icon [icon]="heart"></fa-icon> <span>{{wishlistService.items.length}}</span></a></li>
                        <p-overlayPanel #wishlist>
                            <ng-template pTemplate>
                                <div class="listItemInCart">
                                    <ul>
                                        <li *ngFor="let product of wishlistService.items" class="cart-box">
                                            <div class="cart-box-image p-2">
                                                <a href="javascript:void(0)" class="block"><img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="" width="80px"></a>
                                            </div>
                                            <div class="cart-box-text">
                                                <a href="javascript:void(0)">{{product.name}}</a>
                                            </div>
                                            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="removeWishList(product)"></button>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </p-overlayPanel>
                        <li><a href="javascript:void(0)" (click)="cart.toggle($event)"><fa-icon [icon]="bag"></fa-icon> <span>{{cartService.items.length}}</span></a></li>
                        <p-overlayPanel #cart>
                            <ng-template pTemplate>
                                <div class="listItemInCart">
                                    <ul>
                                        <li *ngFor="let product of cartService.items" class="cart-box">
                                            <div class="cart-box-image p-2">
                                                <a href="javascript:void(0)" class="block"><img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="" width="80px"></a>
                                            </div>
                                            <div class="cart-box-text">
                                                <a href="javascript:void(0)">{{product.name}}</a>
                                                <div><span>{{product.quantity}} x </span>{{product.price | currency}}</div>
                                            </div>
                                            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text" (click)="removeFromCart(product)"></button>
                                        </li>
                                    </ul>
                                    <p-divider></p-divider>
                                    <div class="text-center">
                                        <strong>Tổng: </strong><span class="ml-2">{{cartService.getTotalPrice() | currency}}</span>
                                    </div>
                                    <p-divider></p-divider>
                                    <div class="cart-button">
                                        <button pButton pRipple label="GO TO CART" class="w-full p-button-warning" routerLink="cart"></button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-overlayPanel>
                        <li>
                            <a href="javascript:void(0)" (click)="showAuthForm()" *ngIf="!isLoggedIn"><fa-icon [icon]="userIcon"></fa-icon></a>
                            <a href="javascript:void(0)" (click)="profile.toggle($event)" *ngIf="isLoggedIn"><fa-icon [icon]="userIcon"></fa-icon></a>
                            <p-overlayPanel #profile>
                                <div >
                                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/user" >
                                        <fa-icon [icon]="userIcon"></fa-icon>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" routerLink="my-order">
                                        <fa-icon [icon]="bag"></fa-icon>
                                        My Orders
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" (click)="logout();profile.toggle($event)" >
                                        <fa-icon [icon]="logoutIcon"></fa-icon>
                                        Logout
                                    </a>
                                </div>
                            </p-overlayPanel>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all" (click)="showDepartmentClick()" >
                        <fa-icon [icon]="bars"></fa-icon>
                        <span>All departments</span>
                    </div>
                    <ul *ngIf="showDepartment">
                        <li><a href="javascript:void(0)" *ngFor="let category of listCategoryEnabled" routerLink="category/{{category.id}}">{{category.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?" [(ngModel)]="keyword" name="keyword">
                            <button class="site-btn" routerLink="/search/{{keyword}}">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <fa-icon [icon]="phone"></fa-icon>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>

<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="javascript:void(0)"><img src="assets/image/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello@colorlib.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="javascript:void(0)">About Us</a></li>
                        <li><a href="javascript:void(0)">About Our Shop</a></li>
                        <li><a href="javascript:void(0)">Secure Shopping</a></li>
                        <li><a href="javascript:void(0)">Delivery infomation</a></li>
                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li><a href="javascript:void(0)">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="javascript:void(0)">Who We Are</a></li>
                        <li><a href="javascript:void(0)">Our Services</a></li>
                        <li><a href="javascript:void(0)">Projects</a></li>
                        <li><a href="javascript:void(0)">Contact</a></li>
                        <li><a href="javascript:void(0)">Innovation</a></li>
                        <li><a href="javascript:void(0)">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->


