@import "../../../assets/css/style.css";
@import "../../../assets/css/responsive.css";

.form__cart{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

h4{
  font-size: 20px;
  margin-left: 8px;
}

.cart__title{
  font-size: 18px;
  color: #212121;
  margin-bottom: 10px;
  padding: 25px 8px 15px 0;
}

.cart__main{
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.right-inner {
  position: sticky;
  top: 20px;
}

.form__address-left{
  width: 49%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
}

.form__address-right{
  width: 50%;
  float: left;
}

.checkout__input{
  margin-bottom: 16px;
}

.checkout__input p{
  margin-bottom: 4px;
  margin-left: 4px;
}

.checkout__input input{
  width: 100%;
  height: 40px;
  border: 1px solid #ebebeb;
  padding-left: 20px;
  font-size: 16px;
  color: #343a40;
  border-radius: 8px;
}

.checkout__input textarea{
  /* width: 100%;
  height: 40px; */
  border: 1px solid #ebebeb;
  padding-left: 20px;
  font-size: 16px;
  color: #343a40;
  border-radius: 8px;
}

.checkout__input__checkbox label{
  padding-left: 12px;
}

.checkout__order {
  border-radius: 8px;
  font-size: 20px;
}

.btn-primary{
  width: 240px;
  font-size: 18px;
  padding: 12px;
  color: #F1F6F9;
  text-transform: uppercase;
  font-weight: 700;
  background: #394867;
  letter-spacing: 1px;
  border-radius: 8px;
  text-align: center;
}

.checkout__order ul li {
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #6f6f6f;
  line-height: 40px;
  list-style: none;
}


