<!-- <p>warehouse works!</p> -->
<div class="row">
  <div class="col-lg-4">
    <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
  </div>
  <!-- Doanh thu -->
  <div class="col-lg-8">
    <!-- <p>Doanh thu</p> -->
    <p-chart type="line" [data]="data2" [options]="options2"></p-chart>
  </div>
  <div class="col-lg-12">
    <p-dropdown [options]="listDateForChart" [(ngModel)]="selectlistDate" optionLabel="name" (onChange)="getImportAndOrderTotalDay(selectlistDate.date)"></p-dropdown>
    <p-chart type="bar" [data]="data1" [options]="options1"></p-chart>
  </div>
</div>
