@import "../../../assets/css/style.css";
@import "../../../assets/css/responsive.css";
@import "primeicons/primeicons.css";

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #212A3E;
}

button {
  border: none;
}

.form__template-box {
  justify-content: center;
}

.product__details__pic {
  padding: 20px;
  margin-right: 20px;
}

.product-details {
  padding-top: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.form__detail-product {
  width: 100%;
  min-height: 320px;
  margin-top: 16px;
  padding: 12px 16px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 8px;
}

.form__detail-product h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: rgb(39, 39, 42);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

hr {
  width: 670px;
  color: #ced4da;
}

.form__template-box h3 {
  font-weight: 500;
  margin: 16px 0 8px;
}

.product__details__text p {
  margin-bottom: 8px;
}

.product__details__text .product__details__price {
  font-size: 28px;
  color: #dd2222;
  font-weight: 700;
  margin-bottom: 4px;
}

.product-qty {
  display: inline-flex;
  flex-wrap: nowrap;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 3px;
  width: 84px;
  margin-bottom: 8px;
}

.qty-decrease {
  display: inline-block;
  border-right: 1px solid rgb(200, 200, 200);
  color: rgb(153, 153, 153);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.qty-input {
  border: none;
  background: transparent;
  width: 32px;
  text-align: center;
  font-size: 13px;
  appearance: none;
  margin: 0px;
  outline: none;
}

.qty-increase {
  display: inline-block;
  border-right: none;
  border-left: 1px solid rgb(200, 200, 200);
  color: rgb(153, 153, 153);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.primary-btn.cart-btn {
  margin-bottom: 10px;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 8px;
  color: #fff;
  background: #0A68FF;
}

.product__details__tab__desc p {
  white-space: pre-wrap;
}

.product__description {
  padding: 24px;
}

/* Product item related */
.product-item {
  text-decoration: none;
  display: flex;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.product-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__details__pic__item--large {
  width: 100%;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ced4da;
  background: #fff;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 8px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  background-size: cover;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding: 7px 0;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des p-rating span {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 700;
  color: var(--bs-red);
  ;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7b0;
  position: absolute;
  bottom: 14px;
  right: 10px;
}

#product1 .pro .retweet {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #000;
  border: 1px solid #cce7b0;
  position: absolute;
  bottom: 14px;
  right: 55px;
}

#product1 .pro .heart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #fff;
  border: 1px solid #cce7b0;
  position: absolute;
  bottom: 14px;
  right: 100px;
}

#product1 .pro fa-icon.heart.active {
  color: #ef3636;
}

@media (max-width:991px) {
  .product__details__text {
    margin-left: 24px;
  }

  .form__template-box {
    max-width: 100%;
  }
}