<!-- <p>product-detail works!</p> -->
<p-toast></p-toast>

<div class="form__template">
  <div class="form__template-box">
    <div class="product-details" *ngIf="product != null">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5">
            <div class="product__details__pic">
              <p-galleria [value]="product.images" [showThumbnailNavigators]="false"
                [responsiveOptions]="responsiveOptions" [numVisible]="5">
                <ng-template pTemplate="item" let-item>
                  <img class="product__details__pic__item--large"
                    src="{{'data:image/jpg;base64,' + item.data}}" alt="{{product.name}}" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item style="background : #fff !important">
                  <div class="grid grid-nogutter justify-content-center">
                    <img src="{{'data:image/jpg;base64,' + item.data}}" height=100px alt="">
                  </div>
                </ng-template>
              </p-galleria>
            </div>
          </div>
          <div class="col-lg-7 col-md-7">
            <div class="product__details__text">
              <h3>{{product.productname}}</h3>
              <div class="product__details__price">Giá: {{product.price | currency: 'VND'}}</div>
              <p>Đơn vị tính: {{product.unit}}</p>
              <p>Xuất xứ: {{product.origin}}</p>
              <p>Loại danh mục: {{product.category.name}}</p>
              <hr>
              <div class="product__details__quantity">
                <div class="quantity">
                  <p style="font-weight: bold; margin-bottom: 4px;">Số lượng</p>
                  <div class="product-qty">
                    <!-- <p-inputNumber [(ngModel)]="quantity" [showButtons]="true" buttonLayout="horizontal" [step]="1" decrementButtonClass="p-button-danger"
                      incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                      decrementButtonIcon="pi pi-minus"></p-inputNumber> -->
                      <span class="qty-decrease" (click)="subtractQuantity()">
                      <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/decrease.svg"
                        alt="decrease">
                      </span>
                      <input type="tel" class="qty-input" value="1" [ngModel]="quantity"
                        (change)="updateQuantity(product,$event)" min="1" max="product.quantity">
                      <span class="qty-increase" (click)="plusQuantity(product)">
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/increase.svg"
                          alt="increase">
                      </span>
                  </div>
                  <p>{{product.quantity}} sản phẩm có sẵn</p>
                </div>
                <button class="primary-btn cart-btn" [disabled]="product.inventoryStatus === 'Hết hàng'" (click)="addToCart(product)">Thêm vào giỏ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form__template-box">
    <div class="product-details container">
      <div class="product__description">
        <h4>Mô tả sản phẩm</h4>
        <hr style="margin-bottom: 8px;">
        <div class="tab-pane">
          <div class="product__details__tab__desc">
            <h6>Thông tin sản phẩm</h6>
            <p>{{product.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form__template-box">
    <div class="product-details container">
      <div class="form__detail-product">
        <section id="product1">
          <h2>Sản phẩm liên quan</h2>
          <p-carousel [value]="listRelatedProduct" [numVisible]="4" [numScroll]="4"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
              <div class="product-item">
                <div class="product-item-content">
                  <div class="pro-container">
                    <div class="pro">
                      <a href="javascript:void(0)" routerLink="/productDetail/{{product.id}}">
                        <img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="">
                        <div class="des">
                          <span>{{product.category.name}}</span>
                          <h5>{{product.productname}}</h5>
                        </div>
                      </a>
                      <div class="flex align-items-center justify-content-between">
                        <span class="text-base font-semibold text-red-500">{{ product.price | currency:'VND'}}</span>
                        <button pButton icon="pi pi-shopping-cart" class="p-button-rounded" (click)="addToCart(product)"
                          [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </section>
      </div>
    </div>
  </div>